@model MvcCrudWithoutEF.Models.User

@{
    ViewBag.Title = "Edit User";
}

<h2>Edit User</h2>
@using (Html.BeginForm())
{
    <div class="form-group">
        @Html.LabelFor(model => model.Name)
        @Html.TextBoxFor(model => model.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Name)
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.Age)
        @Html.TextBoxFor(model => model.Age, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Age)
    </div>

    <button type="submit" class="btn btn-primary">Update</button>
}


